.b-work-detail{
    .header-img{
        width: calc(100% - 4rem);
        margin: 2rem auto;
        @media (min-width: $breakpoint-tablet) {
             margin: 0 auto;   
              }
        img{
        border-radius: 25px;
        width: 100%;


        }
    }
    .info-wrapper {
        display: flex;
        flex-wrap: wrap;
        @media (min-width: $breakpoint-tablet) {
            padding: 4rem 0;
            
          }
        .col-left,.col-right{
            width: 100%;
            @media (min-width: $breakpoint-tablet) {
                width:calc(50% - 3rem) ;
                
              }
    
            }
            .col-left{
                @media (min-width: $breakpoint-tablet) {
                padding-right: 3rem;
                    
                  }
                h1{
                    font-family: $playfair-medium;
                    font-size: clamp(2.5rem, calc(0.5915rem + 4.507vw), 6rem);
                    margin-bottom: 1rem;
                    margin-top: 0;

                    @media (min-width: $breakpoint-tablet) {
                        padding-right: 3rem;
                            
                          }
                }
                p{
                    font-size:2rem ;
                    font-size: clamp(1rem, calc(0.5915rem + 4.507vw), 2rem);

                }
            }
            .col-right{
                @media (min-width: $breakpoint-tablet) {
                padding-left: 3rem;
                padding-top: 2rem;
                    
                  }
            
                p{
                    font-size:1.2rem ;
                    margin-bottom: 0;
                }
                span{
                    font-family: $poppins-bold;
                    font-size: 1.2rem;
                }
                .categories{
                    padding: 0;
                    list-style: none;
                    li{
                        display: inline-block;
                        margin-right: .7rem;
                        margin-bottom: .7rem;
                    }
                }
                .row{
                    margin-bottom: 2.5rem;
                }
            }
            
        }

    .bottom{
        video{
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
            clip-path: inset(1px 1px);
        }
        img{
            width: 100%;
            margin: -8px 0 0;
        }
    }
}